{% extends "_base.html" %}
{% block title %}
Settings
{% endblock %}
{% block bodycontent %}
<div id="settings">
    <h1>Dear {{account}}, {{msg}}</h1>
	<form method="post" action="/settings">
		age:<input type="number" value={{age}} name="age" class="form-control" />
		JW:<input type="number" value={{JW}}  name="JW" class="form-control" />
		XW:<input type="number" value={{XW}}  name="XW" class="form-control" />
		YW:<input type="number" value={{YW}}  name="YW" class="form-control" />
		TW:<input type="number" value={{TW}}  name="TW" class="form-control" />
		XG:<input type="number" value={{XG}}  name="XG" class="form-control" />
		YG:<input type="number" value={{YG}}  name="YG" class="form-control" />

		<input type="submit" value="Cancel" onclick="window.location='/';return false;" class="btn btn-lg btn-warning"/>
		<input type="submit" class="btn btn-lg btn-success" />
	</form>
</div>
{% endblock %}